name: Build Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git cmake pkg-config
        sudo apt-get install -y libcjson-dev libsodium-dev
        
    - name: Debug build
      run: |
        make debug
        
    - name: Create binary artifact
      uses: actions/upload-artifact@v4
      with:
        name: linux-debug-binary
        path: ./bin/*
